/* GENERAL STYLES */
* {
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
    }
html {
    scroll-behavior: smooth;
    transition: all 0.5s ease-out;
}
body {
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
	background: #000000;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden  
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 32px;
    }
h1 {
    color: #e1b988;
    font-size: 7vw;
    padding: 0px;
    margin: 0px;
    width: auto;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 100;
}
h2 {
    color: white;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: inline-block;
    font-family: 'Ephesis', cursive;
    font-weight: lighter;
    line-height: 55px;
}
p {
    color: white;
    width: 90%;
    line-height: 32px;
    padding-top: 20px;
    font-size: 17px;
    text-align: justify;
    margin: 0 auto;
    font-weight: 200;
    letter-spacing: 2px;
}
main {
	display: flex;
	flex-direction: column;
}
.readMore {
    border: 1px solid #e1b989;
    color: #e1b989;
    padding: 10px 20px;
    margin: 10px 0px;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
    width: auto;
}
.readMore span {
    font-size: 25px;
}
.readMore a:hover {
    color: white;
    border: 1px solid white;
    background: rgb(255, 255, 255, 0.1);
}


/* PAGE MOVEMENTS - ANIMATIONS */
@keyframes anim-fade-in { from { opacity: 0; } to { opacity: 1 } }

@keyframes anim-up { 
from { opacity: 0; transform: translateY(100px); } 
to { opacity: 1; transform: translateY(0px); }  
}		

@keyframes anim-down { 
from { opacity: 0; transform: translateY(-100px); } 
to { opacity: 1; transform: translateY(0px); }  
}		

@keyframes anim-left { 
from { opacity: 0; transform: translateX(100px); } 
to { opacity: 1; transform: translateX(0px); }  
}		

@keyframes anim-right { 
from { opacity: 0; transform: translateX(-100px); } 
to { opacity: 1; transform: translateX(0px); }  
}		

.anim-up, .anim-down, .anim-left, .anim-right, .anim-fade-in {
animation-duration: 2s; 
animation-delay: 1s; 		
animation-fill-mode: both; 
}

.anim-up { animation-name: anim-up; }
.anim-down { animation-name: anim-down; }
.anim-left { animation-name: anim-left; }
.anim-right { animation-name: anim-right; }
.anim-fade-in { animation-name: anim-fade-in; }

.anim-pause-2 { animation-delay: 2s; } /* delay 2 sec. */		
.anim-pause-3 { animation-delay: 3s; } /* delay 3 sec. */
.anim-pause-4 { animation-delay: 4s; } /* delay 4 sec. */
.anim-pause-5 { animation-delay: 5s; } /* delay 5 sec. */

.paused * { 
animation-play-state: paused;
}


/* MENU  DESKTOP */
.menu {    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.3);
    padding: 10px 0px;
    border-bottom: 1px solid #494949;
    transition: all 0.5s ease-in-out;
}
.contenedor {
    width: 100%;
    margin:0px auto;
    z-index: 20;
    position: relative;
}
.contenedor p {
    margin-bottom:40px;
}
header nav {
    margin-bottom:10px;
    position: fixed;
    width: 100%;
}
header nav ul {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    align-content: stretch;
    width: 90%;
    text-align: center;
    justify-content: space-evenly;
    list-style: none;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 0px;
}
header nav ul li {
    float: left;
    padding: 0px;
    margin: 0px;
    display: block;
    flex: 1 0;
}
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 20px;
    transition: all 0.3s ease-in-out;
}
header nav ul li a:hover {
    color: #e1b987;
    border-bottom: 5px solid #e1b987;
    transition: all 0.3s ease-in-out;
}
header .menu ul li a img {
    width: 40%;
    margin: 0px;
    padding: 0px;
    transition: all 0.5s ease-in-out;
}
.menu-fixed {
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.9);
    transition: all 0.5s ease-in-out;
    padding: 0px;
}
header .menu-fixed ul li a img {
    width: 30%;
    margin: 0px;
    padding: 0px;
    transition: all 0.3s ease-in-out;
}
header ul li a img:hover {
    filter: invert(50%);
}

/* MENU MOBILE */
.menu_mobile {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    background: rgba(0,0,0,0.3);
    padding: 10px 20px;
    border-bottom: 1px solid #494949;
    transition: all 0.5s ease-in-out;
    height: 65px;
    display: none;
}
.menu_mobile img {
    width: 20%;
    position: absolute;
    right: 20px;
}
#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15px;
    left: 15px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}   
#menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
#menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}
#menuToggle span:first-child {
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: white;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}
#menu {
    position: absolute;
    width: 200px;
    height: 400px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 100px 0px 50px 0px;
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: center;
}
#menu li {
    padding: 10px 0;
    transition-delay: 2s;
    flex: none;
    width: 100%;
}
#menuToggle input:checked ~ ul {
    transform: none;
}


/* HOME HEADER AND FIRST BLOCK */
#container {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}
.home {
    z-index: 100;
}
.parallax-bg{
	height: 100%;
    margin: 0 auto;
    background-image: url(../images/homeHead.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}
.home_content1 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    bottom: 0px;
    position: relative;
    vertical-align: bottom;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 120px 0px 0px 10%;
    box-sizing: border-box;
    text-align: center;
}
.home_content1 p {
    margin-bottom: 30px;
}


/* SECOND SECTION - Rows to Column */
#s2 {
    padding: 0px 0px 20px 0px;
    position: relative;
    background: #251912;
    width: 100%;
    margin: 0px auto;
    max-width: 100%;
    box-sizing: border-box;
}
#s2 h2 {
	padding: 0px;
    height: auto;
    color: #e1b989;
    font-size: 51px;
    line-height: 75px;
    margin: 50px 0px 0px 0px;
    font-weight: 100;
    text-align: center;
    width: 100%;
    font-family: 'Ephesis', cursive;
}
#s2 ul {
    width: 100%;
    padding: 0px;
    margin: 23px auto 0px auto;
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
}
#s2 figure {
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
#s2 figure img {
	width: 100%;
    filter: brightness(0.6);
}
#s2 figure img:hover {
    filter: brightness(1);
}
#s2 p {
    text-align: center;
    line-height: 20px;
    margin-bottom: 50px;
}
#s2 figure figcaption {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 30px;
    line-height: 30px;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}

/* THIRD SECTION - BLOCK OF TEXT */
#s3 {
    width: 100%;
    padding-bottom: 47px;
    position: relative;
    min-height: 400px;
    background-image: url(../images/thirdBlock.jpg);
    background-attachment: fixed;
    background-position: left center;
    background-size: cover;
    display: inline-block;
}
#s3 div{
    width: 50%;
    float: right;
    margin: 5%;
} 

/* SECTION 4 - FEATURES GALLERY WITH POP UP */
#features {
    background: white;
    padding: 20px 0px;
}
#features h1 {
    font-size: 80px;
    margin: 0px;
    padding: 0px;
    line-height: 100px;
}
#features p {
    color: #000000;
    font-size: 30px;
    padding: 0px 0px 30px 0px;
}
#features .wrapper {
    width: 100%;
    padding: 0px;
}
#features ul{
    margin: 0px;
    padding: 0px;
    display: inline-block;
} 
#features ul li{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: stretch;
}
.reverse {
    flex-direction: row-reverse!important;
}
#features ul li figure {
    flex: 50%;
    padding: 0px;
    margin: 0px;
    height: auto;
    margin-bottom: -7px;
}
#features ul li figure img {
    width: 100%;
}
#features ul li .text {
    flex: 50%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
#features ul li .text p {
    color: #000000;
    font-size: 15px;
    width: 70%;
    line-height: 30px;
    padding: 10px 0px;
}
#features ul li .text h3 {
    color: #8a8a8a;
    font-size: 23px;
    font-weight: 300;
    border-bottom: 1px solid;
    line-height: 52px;
    margin: 20px 0px;
}
/* POP UP */
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    position: relative;
    transition: all 5s ease-in-out;
    height: 80%;
  }
  .popup h1 {
    font-size: 50px!important;
    line-height: 70px!important;
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #d8a706;
  }
  .popup p {
    padding: 0px;
    margin: 0px;
    font-size: 18px!important;
  }
  .popup div {
    display: flex;
    background: #f6f6f6;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
}
.popup figure {max-width: 100%;
    padding: 0px;
    margin: 0px;
}
.popup figcaption {
    font-size: 15px;
    color: gray;
}
.popup a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 10px;
}
.popup a img {
    max-height: 45vh;
    max-width: initial;
    width: 100%;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: -100;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}


/* SECTION 5 - CHRISTMAS TITLE */
.title {
    background-image:url(../images/chris_back02.jpg);
    background-position: right;
    background-image: url(../images/chris_back01.jpg), url(../images/chris_back02.jpg);
    background-position: center left, center right;
    background-repeat: no-repeat, no-repeat;
    background-color: #0d1015;
    background-attachment: fixed;
    max-width: 100%;
    padding: 1% 20%;
    box-sizing: border-box;
    background-size: 40%;
}
.title p {
    font-size: 35px;
    margin-bottom: -24px;
}
.title h1 {
    text-shadow: 0px 0px 6px black;
}

/* SECTION 6 - PRODUCTS SLIDER */
#container-slider
{
    position: relative;
    display: block;
    width: 100%;
    background: #f6f6f6;
}
#slider {
    position: relative;
    display: block;
    width: 100%;
    min-height: 35vw;
    margin-top: 0px;
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute!important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
    min-height: 35vw;
    
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
    text-decoration: none;
}
#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
    text-decoration: none;
}
.content_slider div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    position: relative;
}
.content_slider h2{
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
    width: 89%;
    margin: 0 auto;
}
.content_slider figure figcaption {
    color: #e1b989;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
}
.content_slider figure p {
    color: gray;
    text-align: center;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.btnSlider{
    color: #FFF;
    font-size: 15px;
    padding: 5px 10px;
    background: rgb(225 185 137);
    border-radius: 3px;
    text-decoration: none;
    transition: .5s all;
    margin-top: 5px;
}
.btnSlider:hover{
    background: #302f2f;
}
.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}
.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid {
    background: #FFF  !important;
}
#slider figure {
    display: flex;
    float: left;
    width: 30%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    position: relative;
}
#slider figure img {width: 70%; margin-bottom: -15px;}

/* FOOTER */

/* NEWSLETTER FORM FOOTER */
#newsletter {
    padding: 20px;
    padding-bottom: 47px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#newsletter h2, footer h2 {
    padding: 10px 0px 20px 0px;
    text-align: center;
    height: auto;
    color: #ffffff;
    font-size: 64px;
    line-height: 50px;
    border-bottom: 1px solid #e1b98969;
    margin: 20px 0px;
    font-weight: lighter;
    width: 100%;
} 
#newsletter p span {
    font-weight: 200;
    font-size: 25px;
    color: #e1b989;
} 
form {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}
form input, form textarea {
    border: 1px solid #e1b989;
    width: 90%;
    line-height: 30px;
    margin: 0px 0px 20px 0px;
    border-radius: 10px;
    padding: 0px 20px;
    box-sizing: border-box;
    background: #dddddd;
}
#contact_info {
    width: 45%;
}
.formText {
    width: 40%;
    float: left;
}

/* SOCIAL AND LINKS TO REFERENCES */

/* Footer */
footer {
    width: 100%;
    background: #302f2f;
    padding: 10px;
    margin-bottom: 40px;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    text-align: center;
}
footer .text {
    color: #e1b989;
    text-align: justify;
    width: 80%;
    margin: 20px auto;
    font-size: 20px;
}
footer #social ul {
    text-decoration: none;
    padding: 0px;
    width: 80%;
    margin: 0px auto;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
footer #social ul li {
	padding: 10px; 
	display: block;
}
footer #social ul li a {
    padding: 16px 16px 11px 16px;;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    display: block;
}
footer #social ul li a:hover {
	background: #5c5c5c;
    border-radius: 10%;
    background-size: 100%;
}
footer #social ul img {
	width: 50px;
}
footer #links {
	width: 100%;
    background: rgba(0,0,0,0.1);
    text-align: center;
}
footer #links li {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-right: 2px groove #482c00;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
}
footer #links li:last-child {
    border-right:0px;
}
footer #links li a {
	color:#ffffff;
    text-decoration: none;
}
footer #links li a:hover, footer #links li a:visited:hover {
	color: #e1b989;
    font-weight: 800;
}
footer #links li a:visited {
	color: #ffffff;
}

/* INTERNAL PAGES */
.list_int {
    margin: 0px;
    padding: 0px;
    display: inline-block;
} 
.list_int li{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: stretch;
}
.list_int li figure {
    flex: 50%;
    padding: 0px;
    margin: 0px;
    height: auto;
    margin-bottom: -7px;
}
.list_int li figure img {
    width: 100%;
}
.list_int li .text {
    flex: 50%;
    padding: 20px 0px 0px 0px;
    margin: 0px;
    text-align: center;
}
.list_int ul li .text p {
    font-size: 15px;
    width: 70%;
    line-height: 30px;
    padding: 10px 0px;
}
.list_int ul li .text h3 {
    color: #8a8a8a;
    font-size: 23px;
    font-weight: 300;
    border-bottom: 1px solid;
    line-height: 52px;
    margin: 20px 0px;
}

/* ABOUT US */
#aboutInt {
    width: 100%;
    padding-bottom: 47px;
    position: relative;
    min-height: 400px;
    background: url(../images/aboutPage.jpg);
    background-attachment: fixed;
    background-position: right center;
    display: block;
    padding-top: 100px;
    margin: 0px;
    background-size: cover;
    max-width: 100%;
}
#aboutInt div{
    width: 50%;
    float: left;
    margin: 5%;
    background: rgba(0,0,0,0.5);
    padding: 10px;
}

/* CONTACT PAGE AND FORM */
#contactInt {
    width: 100%;
    padding-bottom: 47px;
    position: relative;
    min-height: 400px;
    background: url(../images/secondBlock.jpg);
    background-attachment: fixed;
    background-position: left center;
    display: block;
    padding-top: 100px;
    margin: 0px;
    background-size: 200%;
    max-width: 100%;
}
#contactInt div{
    width: 50%;
    float: right;
    margin: 5%;
}

/* WATCHES CATALOG PAGE */
#watch-catalog{
    width: 100%;
    position: relative;
    min-height: 400px;
    background: url(../images/cataloge_background.jpg);
    background-attachment: fixed;
    background-position: right center;
    display: flex;
    margin: 0px auto;
    background-size: cover;
    max-width: 100%;
    padding: 50px 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
}
.watch-catalog-title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e1b988;
    background: rgba(0,0,0,0.6);
}
.watch-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 30%;
}
.watch-card p {
    text-align: center;
    padding: 10px 0px;
}
.watch-card img {
    max-width: 100%;
    height: auto;
}
.watch-card h2 {
    padding: 10px;
}

/* PRODUCT PAGE */
.productsPage {
    width: 80%;
    margin: 100px auto;
    background: #f6f6f6;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.productsPage .text {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.productsPage h2 {
    color: #e1b989;
    text-align: left;
    font-size: 60px;
}
.productsPage h4 {
    text-align: left;
    font-size: 50px;
    line-height: 50px;
    margin: 20px 0px;
    padding: 0px;
    font-weight: 600;
    color: #313131;
}
.productsPage h4 span {
    font-size: 30px;
    font-weight: 400;
}
.productsPage p {
    color: #313131;
    width: 90%;
    margin-right: 10%;
}
.productsPage figure {
    display: flex;
}
.productsPage .readMore {
    width: 50%;
    text-align: center;
    margin-top: 50px;
}